<div class="modal-header">
  <button type="button" ng-click="Modal.close()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">시각화 만들기</h4>
</div>

<div class="modal-body">
  <div class="body-relax">
    <button type="submit" ng-click="Modal.goSearch()" class="btn btn-primary btn-block btn-bottom-margin-large btn-padding-large"><i class="fa fa-search" aria-hidden="true"></i> 공공데이터 검색</button>
    <button type="submit" ng-click="Modal.uploadFile()" class="btn btn-primary btn-block btn-padding-large"><i class="fa fa-upload" aria-hidden="true"></i> 데이터 업로드</button>
  </div>
</div>
