<h4 class="list-group-item-heading">차트속성</h4>
<div class="option-panel">
  <div class="option-panel-types">
    <h5>방향</h5>
    <div class="row">
      <label class="col-md-6">
        <input type="radio" name="direction" value="vertical" ng-model="chartDirection" checked>
        세로
      </label>
      <label class="col-md-6">
        <input type="radio" name="direction" value="horizontal" ng-model="chartDirection">
        가로
      </label>
    </div>

    <hr />

    <h5>
      <label>
        <input type="checkbox" value="">
        누적
      </label>
    </h5>

    <div class="row">
      <label class="col-md-6">
        <input type="radio" name="accumulate" value="1">
        절대값
      </label>
      <label class="col-md-6">
        <input type="radio" name="accumulate" value="2">
        비율
      </label>
    </div>

  </div>
</div>
