<!-- 삭제 -->
<!-- <div class="widget-search-columns">
  <div class="form-group search-container">
    <input type="text" class="form-control input-block exclude" ng-model="searchText" placeholder="검색"></input>
  </div>
  <ul class="list-group list-group-flat">
    <li ng-repeat="(columnType, columns) in removedColumns | toArray | groupBy: 'columnType'">
      <h4 class="list-group-item-heading key-title">{{ columnType }}</h4>
      {{ value }}
      <ul>
        <li ng-if="column.group == value.group" ng-repeat="column in columns | filter:searchText">
          <a href="" ng-click="addColumn(column, groupSort)">{{ column.columnTitle }}</a>
        </li>
      </ul>
    </li>
  </ul>
</div> -->
