<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#not-google-plus-nav">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=" ">
        <span class="navbar-brand-text">DAISY</span>
        <span class="navbar-brand-text-small">Data Visualization</span>
      </a>

    </div> <!-- ./navbar-header -->

    <div class="collapse navbar-collapse" id="not-google-plus-nav">
      <ul id="navbar-middle-pos" class="nav navbar-nav pull-right">
        <!-- <button ui-sref="project-new" type="button" class="btn btn-primary">저장</button> -->
        <button ui-sref="project-new" type="button" class="btn btn-default btn-makeviz"><span class="icon-vizmake"></span>시각화 만들기</button>
      </ul>
    </div> <!-- /.collapse.navbar-collapse -->
  </div> <!-- /.container -->
</nav>
<div class="row search">
  <h2>데이터 시각화가 어렵다고요? 지금 바로 DAISY를 사용해 보세요!</h2>
  <h4>데이터 시각화가 어렵다고요? 지금 바로 DAISY를 사용해 보세요!</h4>
  <div class="col-md-4 col-md-offset-4">
    <form ng-submit="vm.searchByKeyword(keyword)">
      <div class="input-group">
        <input ng-model="keyword" type="text" class="form-control" placeholder="공공데이터 검색하기">
        <span class="input-group-btn">
          <button ui-sref="project-new({'keyword': keyword})" class="btn btn-default btn-search-main" type="button">검 색</button>
        </span>
      </div>
    </form>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="list-header text-center">
        <h4 id="list-header"></span>데이지에선 이런것이 이렇게 만들어지고 있어요.</h4>
      </div>
      <div>
        <span class="glyph-test">
      </div>
      <div class="item-list col-xs-12">
        <div ng-if="vm.projectList.results.length === 0">
          <p>시각화를 추가해보세요.</p>
        </div>
        <div ng-repeat="project in vm.projectList.results" ui-sref="project-item({id: project.id})" class="card">
          <div class="preview">
            <img class="preview-img" ng-if="project.visualize[0].thumbnail.image" data-ng-src="{{project.visualize[0].thumbnail.image}}" alt="">
          </div>
          <div class="by">
            <p>{{project.title}}</p>
            <span class="pull-left">작성자 : {{project.user}}</span>
            <span class="pull-right">{{project.published | date:'yyyy.MM.dd'}}</span>
          </div>
        </div>
      </div>
      <div class="project-pagination col-xs-12 text-center">
        <uib-pagination total-items="vm.projectList.count" ng-model="vm.currentPage" items-per-page="6" max-size=5 previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="vm.pageChanged()"></uib-pagination>
      </div>
    </div>
    <div>
      <pre ng-if="false">{{vm.projectList | json}}</pre>
    </div>
  </div>

</div>
